In [44]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [34]:
datalatih = pd.read_excel("Dataset_Uji.xlsx")
datalatih.head(21)

   Siswa  Perhitungan  Hafalan  Bahasa  Jurusan
0      L            1        1       3        1
1      P            1        2       3        2
2      P            2        2       1        3
3      L            3        1       3        2
4      P            2        1       2        2
5      P            3        1       1        2
6      L            1        3       3        1
7      P            2        2       1        3
8      L            3        3       1        3
9      L            1        2       2        1
10     L            2        1       1        2
11     P            1        1       2        1
12     P            2        2       3        2
13     L            2        3       1        3
14     P            1        1       2        1
15     P            3        1       2        2
16     L            1        1       3        1
17     P            2        2       1        2
18     P            2        3       1        3
19     L            1        3       3        1

Keterangan (Perhitungan, Hafalan, Bahasa)
1.   Baik
2.   Cukup
3.   Kurang

Keterangan (Jurusan)
1.   IPA
2.   IPS
3.   Sastra

In [35]:
datalatih.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Siswa        20 non-null     object
 1   Perhitungan  20 non-null     int64
 2   Hafalan      20 non-null     int64
 3   Bahasa       20 non-null     int64
 4   Jurusan      20 non-null     int64
dtypes: int64(4), object(1)
memory usage: 928.0+ bytes

In [36]:
x = datalatih.drop(["Siswa"], axis=1)
x.head(21)

    Perhitungan  Hafalan  Bahasa  Jurusan
0             1        1       3        1
1             1        2       3        2
2             2        2       1        3
3             3        1       3        2
4             2        1       2        2
5             3        1       1        2
6             1        3       3        1
7             2        2       1        3
8             3        3       1        3
9             1        2       2        1
10            2        1       1        2
11            1        1       2        1
12            2        2       3        2
13            2        3       1        3
14            1        1       2        1
15            3        1       2        2
16            1        1       3        1
17            2        2       1        2
18            2        3       1        3
19            1        3       3        1

In [37]:
y = datalatih["Jurusan"]
y.head(21)

0     1
1     2
2     3
3     2
4     2
5     2
6     1
7     3
8     3
9     1
10    2
11    1
12    2
13    3
14    1
15    2
16    1
17    2
18    3
19    1
Name: Jurusan, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split
# Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi naive bayes
nbtrain = modelnb.fit(x, y)
datauji = pd.read_excel("Dataset_Predict.xlsx")
datauji.head(6)

  Siswa  Perhitungan  Hafalan  Bahasa  Jurusan
0     L            1        1       2        1
1     P            2        2       3        2
2     P            2        2       1        2
3     L            3        1       3        2
4     P            3        1       1        3

In [39]:
x_test = datauji.drop(["Siswa"], axis=1)
x_test.head(6)

   Perhitungan  Hafalan  Bahasa  Jurusan
0            1        1       2        1
1            2        2       3        2
2            2        2       1        2
3            3        1       3        2
4            3        1       1        3

In [40]:
y_uji = datauji["Jurusan"]
y_uji.head(6)

0    1
1    2
2    2
3    2
4    3
Name: Jurusan, dtype: int64

In [41]:
Y_predict = nbtrain.predict(x_test)
print("Prediksi Naive Bayes : ",Y_predict)

Prediksi Naive Bayes :  [1 2 2 2 3]

In [42]:
from sklearn.metrics import accuracy_score
accuracy= accuracy_score(y_uji, Y_predict)
print("Akurasi Naive Bayes : ",accuracy)

Akurasi Naive Bayes :  1.0

In [43]:
# Menghitung nilai akurasi dari klasifikasi naive bayes 
from sklearn.metrics import classification_report
print(classification_report(y_uji, Y_predict))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         1
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         1

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5